on init
    write /sys/module/g_android/parameters $ro.serialno
    write /sys/module/g_android/parameters/product_id 618e
    write /sys/devices/platform/android_usb/functions/cur_pid 618e
    write /sys/devices/platform/android_usb/functions/enable_switch 0

on boot
    start start_usb0

    setprop sys.usb.state adb
    stop adbd
    start adbd

on property:sys.usb.config=adb
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage
    write /sys/class/usb_composite/usb_mass_storage/enable 1
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage,adb
    write /sys/class/usb_composite/usb_mass_storage/enable 1
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis
    write /sys/class/usb_composite/rndis/enable 1
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis,adb
    write /sys/class/usb_composite/rndis/enable 1
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage,rndis,adb
    write /sys/class/usb_composite/usb_mass_storage/enable 1
    write /sys/class/usb_composite/rndis/enable 1
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

# Adding this in because adb is being removed from persist.sys.usb.config after booting
on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd
